/* goole font link */
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;500&family=Hind+Siliguri:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


* {
  margin: 0px;
  padding: 3px;
  box-sizing: border-box;
  color: #fff;
}

/* go to top css start here */
.c-go-top i{
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.c-go-top {
  background: none repeat scroll 0 0 padding-box #FDCF45;
  bottom: 20px;
  border: 1px solid #003f5c;
  border-radius: 4px;
  color: rgb(154, 118, 118);
  /* display: none; */
  font-size: 12px;
  opacity: 0.8;
  padding: 10px;
  position: fixed;
  right: 5%;
  text-decoration: none;
  z-index: 999;
}

.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
  color: #fff;
  outline: 0;
  text-decoration: none;
}
/* go to top css end here */
h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

.gradient-background {
  background: linear-gradient(302deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* .dropdown-item {
    font-size: 12px;
} */

#navbarNavDropdown {
  justify-content: right;
}


/* HOME SECTION CSS CODE START HERE */
#home {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: bolder;
  /* font-family: 'Anek Bangla', sans-serif; */
  font-family: 'Hind Siliguri', sans-serif;
  animation: text-animation 1s;
  -webkit-animation: text-animation 1s;
}

.banner-text p {
  font-size: 1rem;
  color: #FEE6C4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.brand-title {
  color: #FDCF45;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

/* HOME SECTION CSS CODE END HERE */




.pic img {
  height: 500px;
  width: 100%;
  border-radius: 50%;
  margin-left: -25px;
}


/* Support_Group Part  */
#Support_Group {
  background: #fff;
}

#Support_Group h1 {
  color: #000;
  font-weight: 600;
}

#Support_Group p {
  color: #003f5c;
}






/* Code for service-overview Part  */

.service-overview,
.course-outcome {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.service-overview {
  height: 200px;
}

.course-outcome {
  height: 400px;
}

.service-overview:hover,
.course-outcome:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.service-overview h1,
.course-outcome h1 {
  font-size: 22px;
  color: #003f5c;
}

.service-overview p,
.course-outcome p {
  /* font-size: 16px; */
  color: #000;
}

i {
  color: #8199f3;
  font-size: 70px;
}















#team {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 60px;
}

#team h2 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}

#team p {
  font-size: 18px;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}

.five .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}

.one {
  list-style: none;
  padding: 0;
  margin: 100px 0;
}

.one>li {
  background: #FFFFFF;
  border: 1px solid rgba(150, 150, 150, 0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
  box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
  width: 250px;
  height: 430px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

.one>li img {
  margin-top: 60px;
}

.one>li:hover img {
  margin-top: 30px;
}

.one>li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
}

.one>li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  bottom: -400px;
}

.one>li:hover h3 {
  color: rgba(255, 255, 255, 1);
  margin-top: 25px;
}

.one>li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 430px;
}

.one>li span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 500px;
  width: 500px;
  background: #D75E3D;
  display: block;
  position: absolute;
  bottom: -300px;
  left: -125px;
}

.one>li span img {
  margin-top: 10px;
  width: 50px;
}

.one>li span:hover {
  background: #D75E3D;
}

.one>li h3 {
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
}

.one>li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  margin-top: 5px;
}

.one .social {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 10px;
}

.one .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}

.one>li:hover .social li {
  opacity: 0.5;
}

.one .social li a {
  cursor: pointer;
  display: block;
}

.one .social li a:hover {
  opacity: 0.5;
}

.one .social li img {
  width: 24px;
}













/* Sign Up Code  */
.sub-container {
  background: #E6E7E8;
  padding: 20px;
  border-radius: 10px;
}

.signup-left,
.signup-right {
  background: #fff;
  border-radius: 25px;
}

.form-item input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #000;
}

.form-item i {
  color: #000;
  font-size: 25px;
}






/* about page  */

.team-card, .head {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background: #003f5c;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.head {
  background: #084869;
}

.team-card:hover, .head:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Developer {
  background: #044565;
}

.team-card {
  height: 400px;
  margin-top: 100px;
}

.team-card-hr {
  margin-bottom: 95px;
}

.team-card-2 {
  margin-top: 995px;
}
.team-card{
  margin-bottom: 50px;
}
.team-card img {
  margin-top: -100px;
  border-radius: 100%;
  width: 200px
}
.team-card span {
  color: #8199f3;
}
.our-team {
  margin-top: 250px;
}
#our-full-team h1, #history-mission h1, .Developer h1 {
  color: #FDCF45;
  font-size: 54px;
  font-weight: bolder;
}
.head p {
  margin-top: -20px;
}
.team-social-icons a,.footer-social-icons a {
  text-decoration: none;
  /* font-size: 12px; */
  /* margin-right: 35px; */
  /* color: #ababab; */
  display: inline-block;
  transition: transform 0.5s;
}

.team-social-icons a:hover ,.footer-social-icons a:hover {
  color: #ff004f;
  transform: translate(-5px);
}

.team-social-icons i {
  /* text-decoration: none; */
  font-size: 24px;
  margin-right: 35px;
  color: #8199f3 ;
  /* display: inline-block; */
}

.button-developer {
display: flex;
gap: 25px;
}

.head img {
  margin-top: -250px;
  border-radius: 100%;
}





/* <!-- Review Section --> */
/* Testimonila */
.test{
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.test-img img{
  background: #003f5c;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width:130px;
  margin-left: 50%;
  border: 1px solid black;
  position: relative;
  z-index: 1; 
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.test i{
  font-size: 3em;
  color: #fff;
  position: absolute;
  top: 0;
  left: 73%;
}
.test-title p{
  color: #63c380;
}
#testimonial .title{
  color: white;
  font-size: 2em;
  font-family: 'Berkshire Swash', cursive;
 padding: 10px;
}
.test-info{
background-color: rgb(32, 30, 129);
width: 50vw;
padding: 10px;
padding-left: 80px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
}
/* #testimonial {
  background-image: url("img/banner3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 40px;
} */

.test-title h1 {
  color: #FDCF45;
  font-size: 50px;
  font-weight: bolder;
}

@media screen and (max-width: 768px){
   
  /* Testimonial */
  .test{
      width: 100%;
      flex-direction: column;
  }
  .test-img img{
    margin-top: 20px;
      margin-left: -30px;
      position: absolute;
      top: 0;
      left: 40%;
      z-index: 1;
  }
  .test i{
      font-size: 3em;
      color: #6B36E0;
      margin-top: 72px;
      margin-left: 40px;
  }
  .test-info{
  text-align: center;
  width: 90%;
  padding: 10px;
  padding-top: 80px;
  margin-top: 70px;
  }
  #testimonial {
      height: auto;
  }
}





/* Courses Page  */

.main-baner-cls {
  background-image: url("img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}


/* Footer */

footer {
  background: #003f5c;
  color: #fff;
  font-size: 14px;
}
.footer-title h1{
  color: #FDCF45;
  font-size: 30px;
  font-weight: bolder;
}
.subscribe h1{
  font-size: 30px;
  color: #FDCF45;
  font-weight: bolder;
}
.subscribe input{
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #FDCF45;
  padding-left: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer-links a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.footer-links a:hover{
  color: #FDCF45;
}
.footer-links li{
  list-style: none;
  margin-left: -30px;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-icons i {
  font-size: 24px;
  margin-right: 5px;
  color: #ffffff ;
}
