* {
    margin: 0px;
    padding: 2px;
}

/* .dropdown-item {
    font-size: 12px;
} */

#navbarNavDropdown {
    justify-content: right;
}
nav {
 position: fixed;
 top: 0;
}
.banner {
  /* display: flex; */
  height: 90vh;
  justify-content: space-around;
  background-image: url('img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

.banner-text {
    text-align: center;
}

#chk {
    position: relative;
}

#Head-Instructor {
    display: flex;
    justify-content: space-around;
}

.pic img {
    height: 500px;
    width: 100%;
    border-radius: 50%;
    margin-left: -25px;
}




















#team {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 60px;
  }
  #team h2 {
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: 100;
  }
  #team  p {
    font-size: 18px;
  }
  .transition {
    transition: .3s cubic-bezier(.3, 0, 0, 1.3)
  }
  .three .transition {
    transition: .7s cubic-bezier(.3, 0, 0, 1.3)
  }
  .five .transition {
    transition: .5s cubic-bezier(.3, 0, 0, 1.3)
  }

.one {
    list-style: none;
    padding: 0;
    margin: 100px 0;
  }
  .one > li {
    background: #FFFFFF;
    border: 1px solid rgba(150,150,150,0.29);
    -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
    box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
    width: 250px;
    height: 430px;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
  }
  .one > li img {
    margin-top: 60px;
  }
  .one > li:hover img {
    margin-top: 30px;
  }
  .one > li:hover {
    -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
    box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  }
  .one > li:hover span {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    bottom: -400px;
  }
  .one > li:hover h3 {
    color: rgba(255,255,255,1);
    margin-top: 25px;
  }
  .one > li .wrapper {
    overflow: hidden;
    position: absolute;
    width: 250px;
    height: 430px;
  }
  .one > li span {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 500px;
    width: 500px;
    background: #D75E3D;
    display: block;
    position: absolute;
    bottom: -300px;
    left: -125px;
  }
  .one > li span img {
    margin-top: 10px;
    width: 50px;
  }
  .one > li span:hover {
    background: #D75E3D;
  }
  .one > li h3 {
    margin-top: 40px;
    color: rgba(255,255,255,1);
  }
  .one > li h3 em {
    display: block;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    margin-top: 5px;
  }
  .one .social {
    list-style: none;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 10px;
  }
  .one .social li {
    opacity: 0;
    display: inline-block;
    padding: 5px;
  }
  .one > li:hover .social li {
    opacity: 0.5;
  }
  .one .social li a {
    cursor: pointer;
    display: block;
  }
  .one .social li a:hover {
    opacity: 0.5;
  }
  .one .social li img {
    width: 24px;
  }