/* goole font link */
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;500&family=Hind+Siliguri:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #fff;
}

/* go to top css start here */
.c-go-top i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.c-go-top {
  background: none repeat scroll 0 0 padding-box #FDCF45;
  bottom: 20px;
  border: 1px solid #003f5c;
  border-radius: 4px;
  color: rgb(154, 118, 118);
  /* display: none; */
  font-size: 12px;
  opacity: 0.8;
  padding: 10px;
  position: fixed;
  right: 5%;
  text-decoration: none;
  z-index: 999;
}

.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
  color: #fff;
  outline: 0;
  text-decoration: none;
}

/* go to top css end here */
h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

.gradient-background {
  background: linear-gradient(302deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
  -webkit-animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Header  */
header{
  background: linear-gradient(302deg, rgb(8, 107, 139), rgb(108, 8, 133), rgb(35, 35, 213));
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
  position: sticky;
  top: 0;
  z-index: 999;
}
/* Nav Bar */
nav li{
  font-size: 18px;
  font-weight: 400;
}
.nav-item  a{
  color: #fff;
}
.active {
  color: #FDCF45;
}
.dropdown ul{
  background-color: darkviolet;
}
.dropdown ul a:hover,.nav-item a:hover{
  background-color: #FDCF45;
  color: #000;
}
#navbarNavDropdown {
  justify-content: right;
}

/* HOME SECTION CSS CODE START HERE */
#home {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Anek Bangla', sans-serif;
  /* font-family: 'Hind Siliguri', sans-serif; */
  animation: text-animation 1s;
  -webkit-animation: text-animation 1s;
}

.banner-text p {
  font-size: 1rem;
  color: #FEE6C4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .banner-text h1{
  color: #FDCF45;

  font-weight: bolder;
} */

.brand-title {
  color: #FDCF45;
  font-weight: bolder;
}

.banner-img img {
  width: 100%;
  height: 100%;
}
#Main_Review{
  margin-bottom: 20px;
  padding: 20px;
}
/* HOME SECTION CSS CODE END HERE */




.pic img {
  height: 500px;
  width: 100%;
  border-radius: 50%;
  margin-left: -25px;
}


/* Support_Group Part  */
#Support_Group {
  background: #fff;
}

#Support_Group h1 {
  color: #000;
  font-weight: 600;
}

#Support_Group p {
  color: #003f5c;
}

.support-left img {
  width: 450px;
}






/* Code for service-overview Part  */

.service-overview,
.course-outcome {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.service-overview {
  height: 200px;
}

.course-outcome {
  height: 400px;
}

.service-overview:hover,
.course-outcome:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.service-overview h1,
.course-outcome h1 {
  font-size: 22px;
  color: #003f5c;
}

.service-overview p,
.course-outcome p {
  /* font-size: 16px; */
  color: #000;
}

i {
  color: #8199f3;
  font-size: 70px;
}


@media screen and (max-width: 768px) {

  .service-overview {
    height: 300px;
  }

  .course-outcome {
    height: 325px;
  }

  .support-left img {
    width: 325px;
  }
}














#team {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 60px;
}

#team h2 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}

#team p {
  font-size: 18px;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}

.five .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}

.one {
  list-style: none;
  padding: 0;
  margin: 100px 0;
}

.one>li {
  background: #FFFFFF;
  border: 1px solid rgba(150, 150, 150, 0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
  box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
  width: 250px;
  height: 430px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

.one>li img {
  margin-top: 60px;
}

.one>li:hover img {
  margin-top: 30px;
}

.one>li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
}

.one>li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  bottom: -400px;
}

.one>li:hover h3 {
  color: rgba(255, 255, 255, 1);
  margin-top: 25px;
}

.one>li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 430px;
}

.one>li span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 500px;
  width: 500px;
  background: #D75E3D;
  display: block;
  position: absolute;
  bottom: -300px;
  left: -125px;
}

.one>li span img {
  margin-top: 10px;
  width: 50px;
}

.one>li span:hover {
  background: #D75E3D;
}

.one>li h3 {
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
}

.one>li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  margin-top: 5px;
}

.one .social {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 10px;
}

.one .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}

.one>li:hover .social li {
  opacity: 0.5;
}

.one .social li a {
  cursor: pointer;
  display: block;
}

.one .social li a:hover {
  opacity: 0.5;
}

.one .social li img {
  width: 24px;
}













/* Sign Up Code  */
.sub-container {
  background: #E6E7E8;
  padding: 20px;
  border-radius: 10px;
}

.signup-left,
.signup-right {
  background: #fff;
  border-radius: 25px;
}

.form-item input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #000;
}

.form-item i {
  color: #000;
  font-size: 25px;
}






/* about page  */

.team-card,
.head {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background: #003f5c;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.head {
  background: #084869;
}

.team-card:hover,
.head:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Developer {
  background: #044565;
}

.team-card {
  height: 400px;
  margin-top: 100px;
}

.team-card-hr {
  margin-bottom: 95px;
}

.team-card-2 {
  margin-top: 995px;
}

.team-card {
  margin-bottom: 50px;
}

.team-card img {
  margin-top: -100px;
  border-radius: 100%;
  width: 200px
}

.team-card span {
  color: #8199f3;
}

.our-team {
  margin-top: 250px;
}

#our-full-team h1,
#history-mission h1{
  color: #FDCF45;
  font-size: 54px;
  font-weight: bolder;
}

.Developer h1 {
  color: #FDCF45;
  font-size: 45px;
  font-weight: bolder;
}

.head p {
  margin-top: -20px;
}

.team-social-icons a,
.footer-social-icons a {
  text-decoration: none;
  /* font-size: 12px; */
  /* margin-right: 35px; */
  /* color: #ababab; */
  display: inline-block;
  transition: transform 0.5s;
}

.team-social-icons a:hover,
.footer-social-icons a:hover {
  color: #ff004f;
  transform: translate(-5px);
}

.team-social-icons i {
  /* text-decoration: none; */
  font-size: 24px;
  margin-right: 35px;
  color: #8199f3;
  /* display: inline-block; */
}

.button-developer {
  display: flex;
  gap: 25px;
}

.head img {
  margin-top: -250px;
  border-radius: 100%;
}


@media screen and (max-width: 768px) {
  .banner-text{
    margin-top: 50px;
    text-align: center;
  }
  .banner-image{
    text-align: center;
  }
  #home{
    height: auto;
  }



  #Support_Group{
    text-align: center;
  }
  .head img {
    width: 90%;
  }

  .team-social-icons i {
    margin-right: 20px;
    font-size: 20px;
  }

  #our-full-team h1,
  .Developer h1 {
    font-size: 40px;
  }

  .head {
    height: 550px;
  }

  .team-card {
    height: 425px;
  }

  .ta {
    width: 100%;
    height: 500px;
      }
  .ta-dev {
    width: 100%;
    height: 450px;
  }
}





/* <!-- Review Section --> */
/* Testimonila */
.test {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.test-img img {
  background: #003f5c;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 130px;
  margin-left: 50%;
  border: 1px solid black;
  position: relative;
  z-index: 1;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.test i {
  font-size: 3em;
  color: #fff;
  position: absolute;
  top: 0;
  left: 73%;
}

.test-title p {
  color: #63c380;
}

#testimonial .title {
  color: white;
  font-size: 2em;
  font-family: 'Berkshire Swash', cursive;
  padding: 10px;
}

.test-info {
  background-color: rgb(32, 30, 129);
  width: 50vw;
  padding: 10px;
  padding-left: 80px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* #testimonial {
  background-image: url("img/banner3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 40px;
} */

.test-title h1 {
  color: #FDCF45;
  font-size: 50px;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {

  /* Testimonial */
  .test {
    width: 100%;
    flex-direction: column;
  }

  .test-img img {
    margin-top: 20px;
    margin-left: -30px;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 1;
  }

  .test i {
    font-size: 3em;
    color: #6B36E0;
    margin-top: 72px;
    margin-left: 40px;
  }

  .test-info {
    text-align: center;
    width: 90%;
    padding: 10px;
    padding-top: 80px;
    margin-top: 70px;
  }

  #testimonial {
    height: auto;
  }
}





/* Courses Page  */

.main-baner-cls {
  background-image: url("img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}


/* Footer */

footer {
  background: rgb(108, 8, 133);
  color: #fff;
  font-size: 14px;
  padding: 20px;
}

.footer-title h1 {
  color: #FDCF45;
  font-size: 30px;
  font-weight: bolder;
}

.subscribe h1 {
  font-size: 30px;
  color: #FDCF45;
  font-weight: bolder;
}

.subscribe input {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #FDCF45;
  padding-left: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.footer-links a:hover {
  color: #FDCF45;
}

.footer-links li {
  list-style: none;
  margin-left: -30px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-icons i {
  font-size: 24px;
  margin-right: 5px;
  color: #ffffff;
}



/* Animation for bubble  */
.bubbles img {
  width: 50px;
  animation: bubble 4s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -100px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-99vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}

.bubbles img:nth-child(2) {
  animation-delay: 1s;
}

.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}

.bubbles img:nth-child(4) {
  animation-delay: 2.5s;
}

.bubbles img:nth-child(5) {
  animation-delay: 1.5s;
}

.bubbles img:nth-child(6) {
  animation-delay: 3.5s;
  width: 20px;
}

.bubbles img:nth-child(7) {
  animation-delay: 2s;
  width: 35px;
}



/* text-center   */
/* Batch - 03 Registration CSS Code og B-03 Page */
/* .reg-title h1{
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: #fff;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
} */
/* @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

#kocu {
  display: flex;
  background: #000;
  min-height: 28vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
}

.reg-title {
  position: relative;
}

marquee,
.fee {
  color: lightpink;
  font-size: 24px;
  font-weight: bold;
}

.ifr iframe {
  background: #003f5c;
  padding: 15px;
  height: 700px;
}

.reg-title h2 {
  color: #fff;
  font-size: 6em;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-left: 450px;
}

.reg-title h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.reg-title h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}


@media screen and (max-width: 768px) {
  .reg-title h2 {
    font-size: 1.8em;
    margin-left: 170px;
  }

  .ifr iframe {
    height: 2100px;
  }



}





/* sign up testing  */

 :root{
    --bg1:#0b0be8;
    --bg2:#2a431f;
    --boxShadow:#e3e3ed;
    --Shadow1:#8181f4;
    --Shadow2:#a6a6e6;
    --S1forI:#b2b2c2;
    --S2forI:#81ad1d;
}
#okkk {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    user-select:none;
} 

#okkk {
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(135deg,var(--bg1),var(--bg2));
} 
#container{
    background:linear-gradient(135deg,var(--bg2),var(--bg1));
    box-shadow:0 0 8px 6px var(--boxShadow);
    border-radius:32px;
}
 
#user,#email,#lock{
    width:240px;
    padding-left:4px;
    height:42px;
    border-radius:16px;
    background:none;
    margin:16px;
    box-shadow:inset 4px 4px 8px var(--Shadow1),inset -4px -4px 8px var(--Shadow2);
    color:#777;
    font-size:18px;
}

input{
    border:none;
    background:none;
    height:42px;
    outline:none;
    padding-left:6px;
    color:#777;
}
#sign_up{
    font-family:sans-serif;
    margin:32px auto;
    color:#fff;
}

h4{
    font-size:14px;
    color:#777;
    margin:0 0 16px 0;
}
.back {
  background: #003f5c;
}

#social_icon i{
    margin:0 11px;
    padding:8px;
    width:36px;
    height:36px;
    border-radius:50%;
    box-shadow:inset 3px 3px 8px var(--S1forI),inset -3px -3px 8px var(--S2forI),1px 1px 2px var(--S2forI),-1px -1px 2px var(--S1forI);
    color:#4f7af1;
    transition-duration:0.2s;
}

#social_icon i:hover{
    transform:scale(1.3);
}
#social_icon i:active{
    transform:scale(0.9);
}

#signUpBt{
    margin:16px;
    font-size:20px;
    color:#4f7afe;
    border:none;
    width:220px;
    height:38px;
    background:none;
    border-radius:48px;
    box-shadow:4px 4px 8px var(--Shadow1),-4px -4px 8px var(--Shadow2);
    outline:none;

}

#login:hover{
    box-shadow:5px 5px 8px var(--Shadow1),-5px -5px 8px var(--Shadow2);
}
#login:active{
    box-shadow:inset 4px 4px 8px var(--Shadow1),inset -4px -4px 8px var(--Shadow2);
    font-size:16px;
    border:none;
}

#foot{
    margin:16px auto;
    color:#777;
    font-size:16px;
}
#sign{
    color:#4f7afe;
}
#mode{
    margin-bottom:0rem;
}
#mode button{
    padding:6px;
    border-radius:6px;
    background:none;
    border:none;
    box-shadow:4px 4px 8px var(--Shadow1),-4px -4px 8px var(--Shadow2);
    letter-spacing:1px;
}
#mode button:hover{
    transform:scale(1.1);
}
#mode button:active{
    transform:scale(0.9);
}
#drk{
    display:none;
    color:#112;
}
#lt{
    color:#eef;
}